@import url(https://fonts.googleapis.com/css?family=Alex+Brush|Dancing+Script|Great+Vibes|Pinyon+Script|Tangerine&display=swap);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);
@import url(https://fonts.googleapis.com/css?family=Sawarabi+Gothic&display=swap);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans|Poiret+One|Raleway&display=swap);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Infant&display=swap);
@import url(https://fonts.googleapis.com/css?family=Great+Vibes|Homemade+Apple|Nothing+You+Could+Do|Satisfy|Yesteryear&display=swap);
@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat|News+Cycle|Ropa+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c);


body {
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAOklEQVQoU2NkIAIwElJz59I+Y7yKQApU9JzO4lQEUwCyCasiZAVYFaErwFCETQGKIlwK4IrwKQApAgC6lB6peMgdwQAAAABJRU5ErkJggg==);
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

div.pc_kirikae {
    position: absolute;
    top: 45px;
    left: 5px;
    border-radius: 5px;
    /*border-bottom-right-radius: 5px;*/
    background-color: #bc72e8;
/*    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;*/
    font-size: .7rem;
    letter-spacing: .5px;
    color: #ffffff;
    padding: 10px;
    z-index: 300;
}
div.pc_kirikae:hover {
    background-color: orange;
    transition: all 0.5s ease 0s;
}

a {
    text-decoration: none;
    transition: all 0.5s ease 0s;
    color: #bc72e8;
}

a:hover {
    color: #ff3395;
}

section.img_wrap {
    width: 100%;
}

div.race02 {
    position: absolute;
    width: 100%;
    height: 60px;
    top: 95px;
    left: 0;
    right: 0;
    background: url(../images/race02.png) center bottom repeat-x;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    background-size: 30%;
    z-index: 50
}

div.right_img0 {
    position: absolute;
    width: 100%;
    top: 400px;
    right: -60px;
    background: url(../images/grass02.png) no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    background-size: contain;
    z-index: 110;
    opacity: .6;
}

div.left_img1 {
    position: absolute;
    width: 100%;
    top: 650px;
    left: -90px;
    background: url(../images/grass.png) no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    background-size: contain;
    opacity: .7;
    z-index: 110;
}

div.right_img1 {
    position: absolute;
    width: 100%;
    top: 800px;
    right: 0px;
    background: url(../images/grass02.png) no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    background-size: contain;
    opacity: .7;
    z-index: 1;
}

div.left_img2 {
    position: absolute;
    width: 100%;
    top: 2750px;
    left: -90px;
    background: url(../images/grass.png) no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    background-size: contain;
    opacity: .7;
    z-index: 1;
}

div.right_img2 {
    position: absolute;
    width: 100%;
    top: 2800px;
    right: -60px;
    background: url(../images/grass02.png) no-repeat;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    background-size: contain;
    opacity: .8;
    z-index: 1;
}

div.left_img3 {
    position: absolute;
    width: 60px;
    height: 200px;
    top: 7955px;
    left: 0px;
    background: url(../images/lavener_bg2.jpg) top center no-repeat;
    background-size: contain;
    z-index: 0;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgba(255, 51, 149, .8);
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7), 0px 0px 3px 1px rgba(255, 255, 255, 0.7), 0px 0px 3px 1px rgba(255, 255, 255, 0.7);
    z-index: 350;
}

section.nav_center {
    display: flex;
    width: 100%;
    margin: 0 auto;
    z-index: 350;
}

button {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    border: none;
    position: relative;
    width: 75px;
    height: 40px;
    font-size: .7em;
    padding: 0;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    box-sizing: content-box;
    letter-spacing: .1rem;
}

button:hover {
    background: rgba(255, 255, 255, 0.7);
    color: #ff3395;
    transition: 0.2s ease all
}

button:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 1px;
    width: 0;
    background: #ff3395;
    transition: 350ms ease all
}

button:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0
}

button:hover:before,
button:hover:after {
    width: 100%;
    transition: 350ms ease all
}

header {
    position: absolute;
    width: 100%;
    height: 10%;
    background: url(../images/top_img.jpg) center 100px no-repeat;
    background-size: 150%;
    margin: 0;
    z-index: 100;

}

section.title {
    position: relative;
    width: 100%;
    height: 420px;
    margin: -235px auto 0 auto;
    padding-top: 0px;
    margin-bottom: 30px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    box-shadow: 0px 0px 3px 1px rgba(255, 255, 255, 0.7), 0px 0px 3px 1px rgba(255, 255, 255, 0.7), 0px 0px 3px 1px rgba(255, 255, 255, 0.7);
    z-index: 100;
}

section.title p.title_text {
    padding: 270px 0 0 0
}

section.title img {
    width: 40px;
    margin-top: -20px
}

h1 {
    font-size: 1.3rem;
    margin: 0 0 20px 0;
    font-family: "M PLUS Rounded 1c";
    font-weight: 400;
    line-height: 3.5rem
}

h4 {
    font-size: 1.3rem;
    color: #77609b;
    margin: 0;
    font-family: 'Great Vibes', cursive;
    font-weight: 400;
    letter-spacing: .2rem
}

section.news {
    position: absolute;
    top: 60%;
    left: 0;
    right: 0;
    width: 100%;
    height: 230px;
    margin: 0 auto;
    background-color: rgba(255,255,255,.8);
    /*background: url(../images/news_bg2.png) top center no-repeat;*/
    background-size: contain;
    padding: 10px auto 0 auto;
    text-align: center;
    z-index: 315;
}


/*//お知らせ*/
dl {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: .8rem;
}

dt {
    /*float: left;*/
    padding: 5px;
    font-weight: 800;
}

dd {
    margin-left: 5%;
    padding: 5px 10px 15px 5px;
    background: url(../images/hr.png) bottom center no-repeat;
}

.label_daisin {
    background-color: orange;
    border-radius: 3px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 20px;
}

.label {
    background-color: #bc72e8;
    border-radius: 3px;
    color: #fff;
    padding: 2px 5px;
    margin: 0 20px;
}


main {
    position: relative;
    top: 200px;
    margin: 0;
    padding: 0
}

.about_clinic {
    position: relative;
    top: 300px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto 0 auto;
    z-index: 0
}

.about_article {
    position: relative;
    margin: 0 auto;
    width: 100%;
    height: 400px;
    background: url(../images/grass03.jpg) top center no-repeat;
    background-size: 95%;
    text-align: center;
    z-index: 0;
}

h2 {
    position: absolute;
    width: 100%;
    margin: 50px 0 0 0;
    font-size: 2rem;
    font-family: 'Cormorant Infant', serif;
    color: #131313;
    text-align: center;
    z-index: 50
}

.bar {
    position: relative;
    width: 100%;
    height: 50px;
    top: 100px;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 10
}

.sinsatu_time {
    position: relative;
    width: 100%;
    height: 750px;
    top: 28%;
    left: 0;
    right: 0;
    margin-right: 0;
    background-color: rgba(255, 255, 255, 1);
    background-image: url(../images/top_img2_2.jpg);
    background-repeat: no-repeat;
    background-position: 0px 550px;
    background-size: contain;
    border: 1px solid rgba(17, 17, 17, 0.2);
    z-index: 50;
}

.sinsatu_time p {
    font-size: .7rem
}

h5 {
    font-size: 1.2rem;
    letter-spacing: .3rem;
    margin: 20px 0 10px 0;
    font-weight: 400
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 70%;
    margin: 0 auto;
}

table tr {
    border-bottom: solid 1px #eee;
}

table tr:hover {
    background-color: rgba(212, 240, 253, 0.3);
    transition: all 0.5s ease 0s;
}

table th,
table td {
    text-align: center;
    width: 25%;
    padding: 5px 0;
}

span.sinsatubi {
    color: #ff3395;
    font-size: 1rem;
}

span.sinsatubi2 {
    color: #ffbc00;
    font-size: 1.2rem
}

td.youbi {
    font-weight: bold
}

th.time {
    font-size: .8rem;
    line-height: 1.75rem;
    font-weight: 400
}

span.tel {
    display: block;
    color: #bc72e8;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 400;
    margin-top: 25px;
    font-family: 'Montserrat', sans-serif
}

.sinsatubi_text {
    margin: 40px 0 40px 0;
}

div.sinsatu_naiyo {
    position: relative;
    width: 100%;
    height: 870px;
    top: 28%;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(17, 17, 17, 0.2);
    z-index: 50;
}

div.sinsatu_naiyo .naiyo_box {
    width: 83%;
    border-radius: 10px;
    position: relative;
    margin: 35px auto 0 auto;
    padding: 25px 5px 7px 5px;
    background-color: rgba(224, 217, 241, 0.25);
    font-size: .8rem;
    line-height: 1.2rem
}

div.sinsatu_naiyo .naiyo_box h5 {
    position: absolute;
    right: 0px;
    left: 0px;
    top: -30px;
    font-size: .8rem;
    letter-spacing: .1rem;
}

div.sinsatu_naiyo .naiyo_box span {
    display: block;
    padding: 10px 30px 10px 30px;
    background: #c3b9fa;
    color: #FFF;
    display: inline-block;
    border-radius: 25px
}

div.sinsatu_naiyo .naiyo_box .inner {
    padding: 10px
}

div.sinsatu_naiyo .sinagawa_kensin {
    width: 140px;
    height: 25px;
    margin: 4px auto;
    border-radius: 2px;
    background-color: rgba(255, 51, 149, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: .9rem;
    color: #fff;
    text-align: justify;
    text-justify: distribute-all-lines;
    padding: 10px 20px 6px 20px;
    transition: all 0.3s ease-in-out 0s;
    z-index: 50
}

div.sinsatu_naiyo .sinagawa_kensin:hover {
    background-color: rgba(188, 114, 232, 0.9);
    transition: all 0.5s ease-in-out 0s
}

.about_clinic img {
    position: relative;
    width: 350px;
    margin: 0 auto;
    top: -100px;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 60
}

.bar2 {
    position: relative;
    width: 100%;
    height: 50px;
    top: 300px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 60
}

h2.greeting_h2 {
    position: absolute;
    width: 100%;
    top: 2100px;
    margin: 0;
    font-size: 2rem;
    font-family: 'Cormorant Infant', serif;
    color: #131313;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 65
}

.greeting {
    position: relative;
    top: 1650px;
    width: 100%;
    height: 1980px;
    background: linear-gradient(to bottom, rgba(251, 194, 235, 0.2) 0%, rgba(166, 193, 238, 0.2) 100%);
    position: relative;
    margin: 0 auto;
    text-align: center
}

.greeting div.race_top {
    position: absolute;
    width: 100%;
    height: 30px;
    top: -5px;
    left: 0;
    right: 0;
    background: url(../images/race02.png) center bottom repeat-x;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    background-size: 80%
}

.greeting div.race_bottom {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/race02.png) center bottom repeat-x;
    background-size: 80%
}

.greeting .doctor_name {
    position: absolute;
    width: 290px;
    height: 90px;
    top: 200px;
    left: 10px;
    font-size: 2rem;
    line-height: 1.2rem;
    padding: 0 0 10px 30px;
    background: url(../images/hr.png) bottom center no-repeat;
    background-size: contain;
}

.greeting .greeting_h5 {
    font-size: 1.2rem;
    margin: 20px 0 0 0
}

.greeting .murasaki_font {
    font-size: 1rem;
    color: #bc72e8;
    padding-left: 20px
}

.greeting_box {
    position: relative;
    width: 350px;
    height: 1760px;
    margin: 0 auto;
    top: 70px;
    left: 0;
    right: 0;
    text-align: justify;
    text-justify: distribute-all-lines;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    padding: 40px 0px 40px 0px;
    font-size: .7rem;
    line-height: 1.6rem
}

.profile {
    position: relative;
    width: 320px;
    height: 320px;
    top: -80px;
    left: 30px;
    right: 0;
    background: url(../images/prof_img.png) top left no-repeat;
    background-size: 90%;
}

.greeting_box1 {
    position: absolute;
    width: 270px;
    height: 245px;
    top: 300px;
    left: 40px;
}

.greeting_box2 {
    position: absolute;
    width: 270px;
    height: 300px;
    top: 850px;
    left: 40px;
}

.greeting_box3 {
    position: absolute;
    width: 270px;
    height: 270px;
    top: 555px;
    left: 40px;
    background: url(../images/doctor2.jpg) left top no-repeat;
    background-size: cover;
}

.greeting_box4 {
    position: absolute;
    width: 270px;
    height: 300px;
    top: 1435px;
    left: 40px;
}

.greeting_box5 {
    position: absolute;
    width: 270px;
    height: 270px;
    top: 1145px;
    left: 40px;
    background: url(../images/doctor.jpg) left top no-repeat;
    background-size: cover;
}

.doctor_sign {
    padding-top: 20px;
    font-size: 1.2rem;
    font-family: 'Homemade Apple', cursive;
    color: rgba(188, 114, 232, 0.8);
    text-align: right
}

.sns_section {
    position: relative;
    top: 800px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 2;
}

h2.sns_h2 {
    position: absolute;
    top: 900px;
    width: 100%;
    margin: 0;
    font-size: 2rem;
    font-family: 'Cormorant Infant', serif;
    color: #131313;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 65;
}

.followme {
    position: absolute;
    top: 950px;
    width: 100%;
    margin: 0px;
    font-size: 1rem;
    font-family: 'Homemade Apple', cursive;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    color: rgba(188, 114, 232, 0.8);
    text-align: center;
    z-index: 100;
}

div.sns_contents_center {
    position: relative;
    width: 300px;
    height: 500px;
    margin: 0 auto;
    top: 1080px;
    left: -15px;
    right: 0;
    display: flex;
    text-align: center;
    z-index: 1;
}

article.sns_contents {
    width: 100%;
    background: url(../images/grass04.png) -70px top no-repeat;
    padding: 0px;
    background-size: 80%;
}

.access_section {
    position: relative;
    top: -1000px;
    left: 0px;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 1;
}

h2.access_h2 {
    position: absolute;
    width: 100%;
    top: 2950px;
    margin: 0px 0 0 0px;
    font-size: 2rem;
    font-family: 'Cormorant Infant', serif;
    color: #131313;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 65
}

div.access_contents_center {
    position: relative;
    width: 100%;
    height: 800px;
    margin: 0 auto;
    top: 3000px;
    left: 0px;
    right: 0;
    display: flex;
    text-align: center
}

article.access_contents {
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03)
}

article.access_contents p {
    width: 300px;
    margin: 10px auto 10px auto;
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: .8rem;
    line-height: 1.75rem
}

article.access_contents p.caption {
    width: 300px;
    margin: 0px auto;
    padding: 20px;
    background-color: rgba(224, 217, 241, 0.22)
}

footer {
    position: absolute;
    top: 8100px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 300px;
    background: url(../images/footer_bg.jpg) center top repeat-x;
    background-size: contain;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4)
}

footer h1 {
    font-size:.7rem;
    line-height: 1.5rem;
    margin: 0;
}
footer h4 {
    font-size:.8rem;
    line-height: .5rem;
}

footer p {
    font-size: .8rem;
}

section.footer_contens {
    display: flex;
    width: 330px;
    margin: 0px auto 0 auto;
    padding: 40px 0;
}

.e_left {
    width: 60px;
    height: 50px;
    background-color: #fff;
    margin-right: 10px;
    background: url(../images/e.png) center top no-repeat;
    background-size: cover;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border: 5px ridge rgba(61, 47, 16, 0.8)
}

.e_right {
    width: 80px;
    height: 90px;
    background-color: #fff;
    background: url(../images/e02.png) center top no-repeat;
    background-size: cover;
    -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    border: 5px ridge rgba(61, 47, 16, 0.8)
}

.copy {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: #6b8393;
    color: rgba(255, 255, 255, 0.9);
    font-size: .8rem;
    text-align: center;
    line-height: 4rem;
    overflow: hidden;
    -webkit-box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 3px 7px rgba(0, 0, 0, 0.7)
}

#PageTopBtn {
    position: fixed;
    bottom: 90px;
    right: 5px;
    z-index: 400;
}

#PageTopBtn a {
    display: block;
    text-decoration: none;
    color: #fff;
    background: rgba(255, 51, 149, 0.8);
    text-align: center;
    border-radius: 50%;
    outline: none
}

#PageTopBtn a:hover {
    text-decoration: none;
    background: rgba(188, 114, 232, 0.9)
}

@media (min-width: 376px) {/*768*/
    #PageTopBtn {
        font-size: .7rem;
        width: 70px;
        height: 70px;
    }

    #PageTopBtn a {
        border: 2px solid rgba(255, 255, 255, 0.7);
        padding: 15px;
    }
}

@media (max-width: 375px) {/*767*/
    #PageTopBtn {
        font-size: .5em;
    }

    #PageTopBtn a {
        width: 20px;
        height: 25px;
        padding: 15px 22px 20px 20px;
    }
}

.is-fixed {
    /*スクロールバーの固定*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 51, 149, 0.7);
    -webkit-transition: all .4s ease 0s, background .6s ease .2s;
    transition: all .4s ease 0s, background .6s ease .2s;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    z-index: 400;
}

.yoyaku {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
/*    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
*/
    background-color: rgba(255, 51, 149, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.4);
    font-size: .8rem;
    line-height: 1.5rem;
    color: #fff;
    text-align: justify;
    text-justify: distribute-all-lines;
    padding: 0 0 18px 0;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    z-index: 400;
}

.yoyaku:hover {
    background-color: rgba(188, 114, 232, 0.9);
    transition: all 0.3s ease-in-out 0s;
}

span.yoyaku_tel {
    display: block;
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 0.6rem;
    font-weight: 400;
    letter-spacing: .1px;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 0 black;
}


/*//品川区検診ここから*/
div.angle_down5 {
    position: relative;
    top: 1000px;
    left: 0;
    right: 0;
    width: 0px;
    margin: 0 auto;
    z-index: 65;
}

div.angle_down5 p {
    margin: 50px 0 0 0;
    padding: 0;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    line-height: 0rem;
    font-family: 'Sawarabi Gothic', sans-serif;
    font-weight: 400;
    font-size: .9rem;
    color: #3f3f3f;
}

.sinagawaku_section {
    position: relative;
    top: 1450px;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
}

.sinagawaku_section p {
    margin: 0;
    padding: 0;
}


h2.sinagawaku_h2 {
    position: absolute;
    width: 350px;
    left: 0;
    right: 0;
    margin: 775px auto 0 auto;
    background-color: rgba(188, 114, 232, 0.9);
    border-radius: 25px;
    font-family: "M PLUS Rounded 1c";
    font-weight: normal;
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
    letter-spacing: .1rem;
    z-index: 65;
}

div.sinagawaku_contents_center {
    position: relative;
    width: 100%;
    background: url("../images/sinagawaku_bg.jpg") center top no-repeat;
    background-size: contain;
    height: 1620px;
    margin: 0 auto;
    top: 850px;
    left: 0px;
    right: 0;
    text-align: center;
}

.sinagawaku_text {
    width: 350px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .7);
}

article.sinagawaku_contents {
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.03);
}

article.sinagawaku_contents p {
    width: 300px;
    margin: 10px auto 10px auto;
    text-align: justify;
    text-justify: distribute-all-lines;
    font-size: .8rem;
    line-height: 2rem;
    padding-top: 10px;
}

article.sinagawaku_contents p.caption {
    width: 300px;
    margin: 0px auto;
    padding: 20px;
    background-color: rgba(224, 217, 241, 0.7);
}


/*//////SNSボタン*/
.social {
    position: absolute;
    width: 100%;
    top: -50px;
    left: 20px;
    text-align: center;
    transform: translateY(-50%);
}

.social .link {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-clip: content-box;
    padding: 0;
    transition: .5s;
    color: #D7D0BE;
    font-size: 2rem;
}

.social .link span {
    display: block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social .link:hover {
    color: white;
    transform: translateX(0px) rotate(360deg);
}

.social .link.instagram {
    /*background: linear-gradient(-135deg,#1400c8,#b900b4,#f50000);*/
    background-color: #f50000;
    color: white;
    margin: 0 15px;
    padding: 0;
}

.social .link.facebook {
    background-color: #3B5998;
    color: white;
}
